<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/styles.css">
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <title>Home</title>
</head>
<body>

    <header class="header-main">
        <p class="logo">Percurso</p>
        <nav class="nav-header">
          <ul class="ul-header">
            <li class="li-header"><a href="/home">home</a></li>
            <li class="li-header"><a href="/categorias">categorias</a></li>
            <li class="li-header"><a href="/podcast">podcast</a></li>
            <li class="li-header"><a href="/sobrenos">sobre nós</a></li>
            
          </ul>
        </nav>
        <div class="button-set">
            <li class="li-header"><a href="/sign-in">login</a></li>
            <li class="li-header"><a href="/sign-up">sign up</a></li>
         </div>
      </header>
      
     
      
    

      
</body>
</html>