<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/styles.css">
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <title>Home</title>
</head>
<body>

    <header class="header-main">
        <p class="logo">Percurso</p>
        <nav class="nav-header">
          <ul class="ul-header">
            <li class="li-header"><a href="/home">home</a></li>
            <li class="li-header"><a href="/categorias">categorias</a></li>
            <li id="li-active" class="li-header"><a href="/podcast">podcast</a></li>
            <li class="li-header"><a href="/sobrenos">sobre nós</a></li>
            
          </ul>
        </nav>
        <div class="button-set">
        <button class="share">compartilhar +</button>
        <button onclick='window.location.href = "/user"' class="avatar"></button>
         </div>
      </header>
     
     
      <div class="podbg">
        
        <div class="podOrg">
            <div class="podEls">
            <img src="assets/images/podcast.png">
            <div class="podText">
                <h1>PodCurso</h1>
                <h1> EP01 Escolas do Futuro</h1>
                <p style="width: 50%">Neste primeiro episódio vamos iniciar uma discussão sobre o estado do ensino primário e secundário com o surgimento de métodos diferentes de ensino</p>

                <p><small>Mais episódios em breve</small></p>
                <div class="audioplayer"><audio controls>
                  <source src="/assets/audio/ep1.mpeg" type="audio/mpeg"> 
                </audio>
              </div>
                
            </div>
            </div>
        </div>
        



    </div>

    
     

      
</body>
</html>