<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/styles.css">
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <title>Home</title>
</head>
<body style="display: flex; flex-direction: column">

    <header class="header-main">
        <p class="logo">Percurso</p>
        <nav class="nav-header">
          <ul class="ul-header">
            <li class="li-header"><a href="/home">home</a></li>
            <li class="li-header"><a href="/categorias">categorias</a></li>
            <li class="li-header"><a href="/podcast">podcast</a></li>
            <li id="li-active" class="li-header"><a href="/sobrenos">sobre nós</a></li>
            
          </ul>
        </nav>
        <div class="button-set">
        <button class="share">compartilhar +</button>
        <button onclick='window.location.href = "/user"' class="avatar"></button>
         </div>
      </header>
      
      <div class="banner">
        <div class="banner-title"><h1>A nossa missão? <br> educação acessivel a todos</h1></div>
        <div class="banner-text" style='width: 50%'><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus facere tempore culpa. Numquam eveniet impedit debitis repudiandae recusandae, cumque consequuntur, quisquam nulla error labore porro aut nihil provident odit voluptatem!</p></div>
      </div>

      <div class="banner-img"></div>

      <hr style="margin: 96px">

      <div style="display: flex; justify-content: center; gap: 48px;">
      <div style="width: 20%">
        <h1>O programa</h1>
        <p>>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore ut nihil minima praesentium reprehenderit nam doloremque pariatur qui eum ad? Tempore excepturi voluptatibus molestiae doloremque nulla dolores ab et est?</p>
      </div>
       <img src="assets/images/edu.png">

    </div>
      
    <hr style="margin: 96px">

    <div class="equipa">
      <h1>Conheça a nossa equipa</h1>
        <div class="people">
          <div class="person">
            <img src="assets/images/pessoas/1.png">
            <h4>Pessoa Humana</h4>
              <p>UI/UX</p>
            </div>
            
            <div class="person">
              <img src="assets/images/pessoas/2.png">
              <h4>Pessoa Humana</h4>
              <p>UI/UX</p>
              </div>
              
            <div class="person">
              <img src="assets/images/pessoas/3.png">
              <h4>Pessoa Humana</h4>
              <p>UI/UX</p>
              </div>

              <div class="person">
                <img src="assets/images/pessoas/4.png">
                <h4>Pessoa Humana</h4>
                <p>UI/UX</p>
                </div>

                <div class="person">
                  <img src="assets/images/pessoas/5.png">
                  <h4>Pessoa Humana</h4>
                  <p>UI/UX</p>
                  </div>
        </div>
    </div>

    <hr style="margin: 96px">


     
      

      <footer>
        <div class="footer-info-cols">
        
            <div class="footer-info">
            <p><strong>Informacao</strong></p>
            <p>FAQ</p>
            <p>Blog</p>
            <p>Suporte</p>   
            </div>
          
            <div class="footer-info">
            <p><strong>Campanha</strong></p>
            <p>Acerca</p>
            <p>Carreiras</p>
            <p>Contactos</p>
            </div>
    </div>
        </div>
        <hr>
        <div class="footer-footer">
          <p>Termos</p>
          <p>Privacidade</p>
          <p>Contactos</p>
        </div>
      </footer>
    

      
</body>
</html>